:root {
    --primary-color: #03357c;
    --primary-color-light: #0050ff;
    --secondary-color: #ffcc00;
    --tertiary-color: #d6d6d6;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#section1 {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.heroContent {
    display: flex;
    align-items: center;
    height: 100%;
}

.location {
    height: 77.6%;
    border-top-right-radius: 100%;
}

.heroText {
    padding: 10rem;
}

.heroText h1{
    font-size: 4rem;
    color: var(--secondary-color);
}

.heroText h2 {
    font-size: 2rem;
    color: var(--secondary-color);
}

.heroButtons {
    margin: 50px 0;
}

.heroButtons a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: .3s ease;
}

.heroButtons a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    position: relative;
}

.logo {
    height: 50px;
    padding: 10px;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hamburgerButton {
    height: 5rem;
    width: 5rem;
    color: white;
    background-color: var(--tertiary-color);
    z-index: 2;
    position: fixed;
    transition: .3s ease;
    bottom: 20%;
    right: 0;
}

i {
    transition: .3s ease;
}

.hamburgerButton:hover i {
    transform: rotate(-90deg);
}

.hamburger {
    transition: 0.3s ease;
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hamburger.show {
    transform: translateX(-200px);
}

.hamburgerButton.active {
    transform: translateX(-200px);
}

.hamburger a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin: 10px 0;
}

#section2 {
    background-color: white;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionCard {
    background-color: var(--secondary-color);
    width: 85%;
    display: flex;
    margin: 3rem 0;
}

.sectionCard img {
    height: 80%;
    width: 50%;
    object-fit: cover;
}

.sectionText {
    width: 50%;
    padding: 2rem;
}

.sectionText h2 {
    font-size: 3rem;
}

.sectionText p {
    font-size: 1.2rem;
    margin: 2rem 0;
}

.sectionText a {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: .3s ease;
}

.sectionText a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#section3 {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    justify-content: center;
    align-items: center;
    height: 120vh;   
}

.content {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section3 img {
    height: 60%;
}

#section3 h2 {
    font-size: 2rem;
    margin: 2rem 0;
    color: var(--secondary-color);
    font-weight: 600;
}

#section3 p {
    font-size: 1.2rem;
    width: 80%;
}

#section4 {
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    height: 120vh;
    display: flex;
    flex-direction: column;
}

.vakCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
}

.vakCard {
    position: relative;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
    height: 7rem;
    text-align: center;
    transition: 0.3s ease;
}

.vakCard h3 {
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.vakCard p {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
}

.vakCard:hover {
    /* box shadow */
    box-shadow: 10px 10px var(--primary-color);
}

.vakCard:hover p {
    opacity: 1;
}

.vakCard:hover h3 {
    opacity: 0;
}